:root {
    --color-background: #E9F3FE;
    --color-primary-lighter: #FAE681;
    --color-primary-light: #FAE05F;
    --color-primary: #FADC48;
    --color-primary-dark: #EFD245;
    --color-primary-darker: #E3C841;
    --color-alternative: #7F25D9;
    --color-alternative-dark: #5C12A6;
    --color-alternative-darker: #2F0459;
    --color-secondary: #F1A34F;
    --color-secondary-dark: #E78B37;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #52473A;
    --color-text-title: #423744;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
  
    font-size: 60%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100vh;
}

body{
    background: var(--color-background);
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea{
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

.container{
    width: 90vw;
    max-width: 700px;
}

@media (min-height: 700px){
    :root{
        font-size: 62.5%;
    }
}